Repository aggutierrez98/aggutierrez-portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint-check --cache --fix, prettier --write

.lintstagedrc.json:

{
  "*.js": "eslint --cache --fix",
  "*.ts": "eslint --cache --fix",
  "*.tsx": "eslint --cache --fix",
  "*.css": "stylelint-check --cache --fix",
  "*.{js,css,md}": "prettier --write",
  "*.{ts,tsx,css,md}": "prettier --write"
}

Test deleting framer imports from dragging images
  components/projects/ProjectDetails/ImagesCarrousel.tsx
  hooks/useImageCarrousel.ts
  package.json
  pages/_app.tsx
Due: eslint --cache --fix, prettier --write

Added Preconnect tag to vercel insights
  pages/_document.tsx
Due: eslint --cache --fix, prettier --write

Fix: Improved avatar-image to use Next Image component
  components/about/index.tsx
  components/about/styles.module.css
  dictionary-clean.txt
Due: eslint --cache --fix, stylelint-check --cache --fix, prettier --write

Fix: Fixed errors in imageCarrousel and image modal navigation. Viewport metatag improved
  components/projects/ProjectDetails/ImagesCarrousel.tsx
  hooks/useImageModal.ts
  pages/_app.tsx
  public/manifest.json
Due: eslint --cache --fix, prettier --write

Feat: Added offline fallback page for pwa use
  .gitignore
  components/layout/OfflineSign/index.tsx
  components/layout/OfflineSign/styles.module.css
  components/layout/index.ts
  dictionary-clean.txt
  next.config.js
  pages/_offline.tsx
  yarn.lock
Due: eslint --cache --fix, stylelint-check --cache --fix, prettier --write

Little addition to manifest.json and viewport metatag updated
  pages/_app.tsx
  pages/_offline.tsx
  public/manifest.json
Due: eslint --cache --fix, prettier --write

Feat: Implemented infisical for environment variables saved in cloud vault
  .env.example
  .husky/pre-commit
  .infisical.json
  next.config.js
  package.json
  yarn.lock
Due: eslint --cache --fix, prettier --write

Update README.md
  README.md
Due: prettier --write

Update CV
  public/cv-ing.pdf
Due: none

Add angular asset
  public/assets/techs/angular.svg
  yarn.lock
Due: none

Improve project card
  components/layout/MainLayout/styles.module.css
  components/projects/ProjectCard/index.tsx
  components/projects/ProjectCard/styles.module.css
  components/projects/TechsList/styles.module.css
  styles/theme.css
Due: eslint --cache --fix, stylelint-check --cache --fix, prettier --write

Improve home section
  components/home/styles.module.css
  components/layout/MainLayout/styles.module.css
Due: stylelint-check --cache --fix, prettier --write

Update CV file
  public/cv-ing.pdf
Due: none

Modify variants in home section
  components/home/variants.ts
  components/layout/Header/index.tsx
  components/layout/Header/variants.ts
  components/layout/Logo/variants.ts
  components/layout/MainLayout/variants.ts
  components/layout/variants.ts
Due: eslint --cache --fix, prettier --write

Modify variant
  components/layout/variants.ts
Due: eslint --cache --fix, prettier --write

Refactor scrollToTopButton
  components/layout/MainLayout/ScrollToTopButton.tsx
  hooks/useShowScrollButton.ts
  styles/globals.css
Due: eslint --cache --fix, stylelint-check --cache --fix, prettier --write

Change about section
  components/about/index.tsx
  hooks/index.ts
  interfaces/index.ts
Due: eslint --cache --fix, prettier --write

Change 'Source Code Pro' font to 'Rajdhani' and improve styles
  components/about/SkillsList.tsx
  components/about/styles.module.css
  components/contact/ContactForm/styles.module.css
  components/contact/ContactModule/styles.module.css
  components/home/styles.module.css
  components/layout/Footer/styles.module.css
  components/layout/Header/styles.module.css
  components/projects/LinksList/styles.module.css
  components/projects/ProjectCard/styles.module.css
  components/projects/ProjectDetails/styles.module.css
  components/projects/TechsList/styles.module.css
  components/work/WorkModule/workCard.module.css
  dictionary-clean.txt
  pages/_app.tsx
  styles/globals.css
Due: eslint --cache --fix, stylelint-check --cache --fix, prettier --write

Minor fix in header style
  components/layout/Header/styles.module.css
Due: stylelint-check --cache --fix, prettier --write

Update images to jpg
  components/projects/ProjectCard/index.tsx
  dictionary-clean.txt
  hooks/useImageModal.ts
  package.json
  yarn.lock
Due: eslint --cache --fix, prettier --write

Add swiper to manage imageCarrousel component
  components/projects/ProjectCard/index.tsx
  components/projects/ProjectDetails/ImagesCarrousel.tsx
  components/projects/ProjectDetails/index.tsx
  components/projects/ProjectDetails/styles.module.css
  components/projects/ProjectsList/index.tsx
  hooks/index.ts
  hooks/useImageCarrousel.ts
  hooks/useImageModal.ts
  interfaces/index.ts
  styles/globals.css
Due: eslint --cache --fix, stylelint-check --cache --fix, prettier --write

FIx typo in project page
  dictionary-clean.txt
  pages/projects/[name]/index.tsx
Due: eslint --cache --fix, prettier --write

Improve UI and visual effects
  components/about/index.tsx
  components/about/styles.module.css
  components/dividers/WaveSmooth.tsx
  components/layout/Header/HeaderMenu.tsx
  components/layout/Header/index.tsx
  components/layout/Logo/styles.module.css
  components/projects/ProjectCard/styles.module.css
  components/projects/ProjectDetails/styles.module.css
  components/projects/ProjectsList/styles.module.css
  components/work/WorkModule/styles.module.css
  hooks/useActiveSection.ts
  pages/index.tsx
Due: eslint --cache --fix, stylelint-check --cache --fix, prettier --write

Fix errors in Image view modal and other UI bugs
  components/about/index.tsx
  components/contact/ContactModule/index.tsx
  components/home/variants.ts
  components/layout/NotFoundSign/index.tsx
  components/layout/NotFoundSign/styles.module.css
  components/layout/variants.ts
  components/projects/LinksList/index.tsx
  components/projects/ProjectCard/index.tsx
  components/projects/ProjectDetails/ImagesCarrousel.tsx
  components/projects/ProjectDetails/index.tsx
  components/projects/ProjectDetails/styles.module.css
  components/projects/ProjectDetails/variants.ts
  components/projects/ProjectsList/index.tsx
  components/work/WorkModule/WorkCard.tsx
  components/work/WorkModule/index.tsx
  components/work/WorkModule/variants.ts
  hooks/useImageModal.ts
  pages/404.tsx
  pages/_app.tsx
  pages/index.tsx
  pages/projects/[name]/index.tsx
Due: eslint --cache --fix, stylelint-check --cache --fix, prettier --write

Feat: Optimize all images
  components/projects/ProjectDetails/ImagesCarrousel.tsx
  components/projects/ProjectDetails/index.tsx
  components/projects/ProjectDetails/styles.module.css
Due: eslint --cache --fix, stylelint-check --cache --fix, prettier --write

Update logo
  components/layout/Logo/index.tsx
  components/layout/Logo/styles.module.css
  components/layout/Logo/variants.ts
  dictionary-clean.txt
  package.json
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon-precomposed.png
  public/apple-touch-icon.png
  public/banner.png
  public/browserconfig.xml
  public/favicon-16x16.png
  public/favicon-194x194.png
  public/favicon-32x32.png
  public/favicon.ico
  public/icon-192x192.png
  public/icon-256x256.png
  public/icon-384x384.png
  public/icon-512x512.png
  public/icon512_maskable.png
  public/icon512_rounded.png
  public/manifest.json
  public/maskable_icon_x128.png
  public/mstile-144x144.png
  public/mstile-150x150.png
  public/mstile-310x150.png
  public/mstile-310x310.png
  public/mstile-70x70.png
  public/safari-pinned-tab.svg
  public/screenshot.png
  public/screenshot2.png
  public/screenshot3.png
  public/site.webmanifest
Due: eslint --cache --fix, stylelint-check --cache --fix, prettier --write

Fix error in build script
  package.json
Due: none
