Repository aggutierrez98/aggutierrez-portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint-check --cache --fix, prettier --write

fix: Deleted react imports
  components/about/About/SkillsList.tsx
  components/about/About/index.tsx
  components/about/Home/index.tsx
  components/contact/ContactForm/SendButton.tsx
  components/contact/ContactForm/index.tsx
  components/contact/ContactModule/index.tsx
  components/layout/Header/HeaderButtonMenu.tsx
  components/layout/Header/HeaderLink.tsx
  components/layout/Header/HeaderMenu.tsx
  components/layout/Header/SideMenu.tsx
  components/layout/Header/index.tsx
  components/layout/Loading/index.tsx
  components/layout/MainLayout/ScrollToTopButtton.tsx
  components/layout/NotFoundSign/index.tsx
  components/layout/Toast/Toast.tsx
  components/projects/LinksList/LinkButton.tsx
  components/projects/LinksList/index.tsx
  components/projects/ProjectCard/LearnMoreButton.tsx
  components/projects/ProjectDetails/index.tsx
  components/projects/ProjectsList/index.tsx
  components/projects/TechsList/index.tsx
  pages/404.tsx
Due: eslint --cache --fix, prettier --write

chore(release): 1.6.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  70a46b05be5b99e809e33acc7467f8ad3232d652
Due: none

fix: eslint promise plugin added to project
  .eslintrc.json
  package.json
  yarn.lock
Due: none

chore(release): 1.6.4 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  71c0a2f7059d7bdf6351ccc62a0343eebab2d6a2
Due: none

fix: Little fix to scrollToTop button and to font loading
  components/layout/Footer/styles.module.css
  components/layout/MainLayout/ScrollToTopButtton.tsx
  pages/_app.tsx
  pages/_document.tsx
  pages/index.tsx
Due: eslint --cache --fix, stylelint-check --cache --fix, prettier --write

feat: Added configuration to make site PWA
  .gitignore
  next.config.js
  package.json
  pages/_document.tsx
  public/icon-192x192.png
  public/icon-256x256.png
  public/icon-384x384.png
  public/icon-512x512.png
  public/manifest.json
  public/site.webmanifest
  yarn.lock
Due: eslint --cache --fix, prettier --write

chore(release): 1.7.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  8abaed3de8f6a7745a2e21e130fe65f233ef1a75
Due: none

fix: Some fixes added to manifest.json
  pages/_document.tsx
  public/manifest.json
  public/maskable_icon_x128.png
Due: eslint --cache --fix, prettier --write

chore(release): 1.7.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  1be22b0bb1cca4c44de964894e7cc215dc7ae83b
Due: none

fix: Changes in pages revalidation
  helpers/loadSkillsInfo.ts
  pages/index.tsx
  pages/projects/[name].tsx
Due: eslint --cache --fix, prettier --write

fix: Added style fixes
  components/about/Home/styles.module.css
  components/contact/ContactForm/styles.module.css
  components/layout/Header/HeaderButtonMenu.tsx
  components/layout/Header/headerButtonMenu.module.css
  components/layout/Header/sideMenu.module.css
  components/layout/MainLayout/styles.module.css
  components/projects/ProjectCard/styles.module.css
  components/projects/TechsList/styles.module.css
Due: eslint --cache --fix, stylelint-check --cache --fix, prettier --write

chore(release): 1.7.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  d5b6bbd353183d01c79a5c2d1e129cd4f1bcfc4a
Due: none

Added special link text with styles and projects page
  README.md
  components/about/Home/styles.module.css
  components/projects/ProjectCard/index.tsx
  components/projects/ProjectCard/styles.module.css
  components/projects/ProjectDetails/index.tsx
  components/projects/ProjectDetails/styles.module.css
  components/projects/ProjectsList/index.tsx
  components/projects/ProjectsList/styles.module.css
  components/projects/TechsList/styles.module.css
  package.json
  pages/projects/index.tsx
  yarn.lock
Due: eslint --cache --fix, stylelint-check --cache --fix, prettier --write

Starting development of project images slideshow
  components/projects/ProjectDetails/ImagesCarrousel.tsx
Due: eslint --cache --fix, prettier --write

Images carrousel improved
  components/layout/MainLayout/SocialMediaLinks.tsx
  components/projects/ProjectCard/index.tsx
  components/projects/ProjectDetails/ImagesCarrousel.tsx
  components/projects/ProjectDetails/index.tsx
  components/projects/ProjectDetails/styles.module.css
  components/projects/ProjectDetails/variants.ts
  interfaces/index.ts
  yarn.lock
Due: eslint --cache --fix, stylelint-check --cache --fix, prettier --write

Fixed little error in tags descendant
  components/projects/ProjectCard/styles.module.css
  components/projects/ProjectDetails/index.tsx
  components/projects/ProjectDetails/styles.module.css
Due: eslint --cache --fix, stylelint-check --cache --fix, prettier --write

Improved about image
  components/about/About/index.tsx
  components/about/About/styles.module.css
Due: eslint --cache --fix, stylelint-check --cache --fix, prettier --write

Improved about image
  components/about/About/index.tsx
Due: eslint --cache --fix, prettier --write

Little improvment in box shadows and projects section
  components/about/Home/index.tsx
  components/about/Home/variants.ts
  hooks/useActiveSection.ts
Due: eslint --cache --fix, prettier --write

fix: Fixed bug in typing
  components/projects/ProjectsList/index.tsx
Due: eslint --cache --fix, prettier --write

chore(release): 1.7.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  cfffefa269ee7a35d5fb08b02f91aa4ac610be2a
Due: none

fix: Little refactor in components
  components/about/About/index.tsx
  components/projects/ProjectDetails/ImagesCarrousel.tsx
  components/projects/ProjectDetails/variants.ts
  helpers/index.ts
  helpers/swipePower.ts
  hooks/index.ts
  hooks/useImageCarrousel.ts
  pages/projects/index.tsx
Due: eslint --cache --fix, prettier --write

chore(release): 1.7.4 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  d3037379f39cbd01f19228cdafeee6e6620abfa3
Due: none

feat: Image modal details added to project with some other changes
  components/contact/ContactModule/index.tsx
  components/contact/CustomModal/index.tsx
  components/projects/ProjectDetails/ImagesCarrousel.tsx
  components/projects/ProjectDetails/index.tsx
  components/projects/ProjectDetails/styles.module.css
  hooks/index.ts
  hooks/useImageCarrousel.ts
  hooks/useImageModal.ts
Due: eslint --cache --fix, stylelint-check --cache --fix, prettier --write

chore(release): 1.8.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  9f76c8810c9ebb90cc7843035616f4de6031d90e
Due: none

fix: Fixed about image loading now load from cloud data
  components/about/About/index.tsx
  interfaces/index.ts
Due: eslint --cache --fix, prettier --write

chore(release): 1.8.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  be67067650ac6f87079e61383206b0ad5656768b
Due: none

Feat: Added support for landscape orientation in image full view
  components/projects/ProjectDetails/styles.module.css
  pages/index.tsx
Due: eslint --cache --fix, stylelint-check --cache --fix, prettier --write

feat: Added image linking when opening modal
  components/projects/ProjectDetails/ImagesCarrousel.tsx
  components/projects/ProjectDetails/index.tsx
  components/projects/ProjectDetails/styles.module.css
  hooks/useImageModal.ts
Due: eslint --cache --fix, stylelint-check --cache --fix, prettier --write

chore(release): 1.9.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  fa10c3fbde66ad153ff7075235dd6a8c47e9ee48
Due: none

Path conditions:
  eslint --cache --fix: ((any of: *.js) or (any of: *.ts)) or (any of: *.tsx)
  stylelint-check --cache --fix: any of: *.css
  prettier --write: (any of: *.{js,css,md}) or (any of: *.{ts,tsx,css,md})
