Repository aggutierrez98/aggutierrez-portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint-check --cache --fix, prettier --write

.lintstagedrc.json:

{
  "*.js": "eslint --cache --fix",
  "*.ts": "eslint --cache --fix",
  "*.tsx": "eslint --cache --fix",
  "*.css": "stylelint-check --cache --fix",
  "*.{js,css,md}": "prettier --write",
  "*.{ts,tsx,css,md}": "prettier --write"
}

Testing performance improvments
  components/about/About/styles.module.css
Due: stylelint-check --cache --fix, prettier --write

Testing performance improvments
  components/about/About/SkillCard.tsx
  components/about/About/styles.module.css
Due: eslint --cache --fix, stylelint-check --cache --fix, prettier --write

Testing performance improvments
  components/about/About/SkillsList.tsx
Due: eslint --cache --fix, prettier --write

Readded icons to skills
  components/about/About/SkillCard.tsx
  components/about/About/styles.module.css
  components/work/WorkModule/workCard.module.css
Due: eslint --cache --fix, stylelint-check --cache --fix, prettier --write

fix: Style improves
  components/about/Home/styles.module.css
  styles/theme.css
Due: stylelint-check --cache --fix, prettier --write

chore(release): 1.9.11 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  5dd198187665603d5cfc4f56ced767537b81b271
Due: none

Fix: Changed theme colores and fixes in parts of the UI
  components/about/About/styles.module.css
  components/about/Home/styles.module.css
  components/contact/ContactForm/styles.module.css
  components/dividers/LayeredWaves.tsx
  components/dividers/WaveSmooth.tsx
  components/dividers/styles.module.css
  components/layout/Footer/index.tsx
  components/layout/Footer/styles.module.css
  components/layout/Header/headerButtonMenu.module.css
  components/layout/Header/index.tsx
  components/layout/Header/styles.module.css
  components/layout/Logo/index.tsx
  components/layout/Logo/styles.module.css
  components/layout/MainLayout/ScrollToTopButtton.tsx
  components/layout/MainLayout/socialMediaLinks.module.css
  components/layout/MainLayout/styles.module.css
  components/layout/Toast/styles.module.css
  components/projects/ProjectCard/styles.module.css
  components/projects/ProjectsList/styles.module.css
  components/work/WorkModule/styles.module.css
  pages/index.tsx
  pages/projects/[name]/index.tsx
  pages/projects/index.tsx
  public/assets/social-media/discord.svg
  public/assets/social-media/github.svg
  public/assets/social-media/gmail.svg
  public/assets/social-media/linkedin.svg
  styles/globals.css
  styles/theme.css
Due: eslint --cache --fix, stylelint-check --cache --fix, prettier --write

fix: More fixes added to UI
  components/contact/ContactForm/styles.module.css
  components/layout/MainLayout/socialMediaLinks.module.css
Due: stylelint-check --cache --fix, prettier --write

chore(release): 1.9.12 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  26966ae6a274ea218f711d7a8f1f41124f25d928
Due: none

Fix: fixed bugs and little changes
  .eslintrc.json
  .husky/pre-commit
  components/contact/ContactForm/SendButton.tsx
  components/contact/ContactForm/styles.module.css
  components/layout/NotFoundSign/index.tsx
  components/layout/NotFoundSign/styles.module.css
  components/projects/LinksList/index.tsx
  components/projects/ProjectsList/styles.module.css
  package.json
  pages/404.tsx
  yarn.lock
Due: eslint --cache --fix, stylelint-check --cache --fix, prettier --write

feat: Changes to about and home modules folder structure and added ui fixes and improvments in about module and other parts of main layout
  components/about/About/index.tsx
  components/about/IconComponent.tsx
  components/about/SkillCard.tsx
  components/about/SkillsList.tsx
  components/about/index.ts
  components/about/index.tsx
  components/about/styles.module.css
  components/about/variants.ts
  components/contact/CustomModal/index.tsx
  components/contact/CustomModal/styles.module.css
  components/home/ResumeButton.tsx
  components/home/index.tsx
  components/home/styles.module.css
  components/home/variants.ts
  components/index.ts
  components/layout/Footer/styles.module.css
  components/layout/Header/headerButtonMenu.module.css
  components/layout/MainLayout/styles.module.css
  components/projects/ProjectDetails/styles.module.css
  components/projects/TechsList/styles.module.css
Due: eslint --cache --fix, stylelint-check --cache --fix, prettier --write

chore(release): 1.10.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  e709925ce2693533e033e1a34f815d45d1c6db6c
Due: none

Modified texts in contact module to use data in db
  components/contact/ContactModule/index.tsx
  components/home/index.tsx
  components/layout/Footer/index.tsx
  components/layout/MainLayout/SocialMediaLinks.tsx
  interfaces/index.ts
  package.json
  pages/_app.tsx
  pages/index.tsx
  yarn.lock
Due: eslint --cache --fix, prettier --write

Deleted gh-token from .env.example
  .env.example
Due: none

Changed fonts loading to self-hosted fonts in public directory
  pages/_app.tsx
  pages/_document.tsx
  public/fonts/Raleway/Raleway-ExtraLight.ttf
  public/fonts/Raleway/Raleway-ExtraLight.woff
  public/fonts/Raleway/Raleway-ExtraLight.woff2
  public/fonts/Raleway/Raleway-Light.ttf
  public/fonts/Raleway/Raleway-Light.woff
  public/fonts/Raleway/Raleway-Light.woff2
  public/fonts/Raleway/Raleway-Medium.ttf
  public/fonts/Raleway/Raleway-Medium.woff
  public/fonts/Raleway/Raleway-Medium.woff2
  public/fonts/Raleway/Raleway-Regular.ttf
  public/fonts/Raleway/Raleway-Regular.woff
  public/fonts/Raleway/Raleway-Regular.woff2
  public/fonts/Raleway/Raleway-SemiBold.ttf
  public/fonts/Raleway/Raleway-SemiBold.woff
  public/fonts/Raleway/Raleway-SemiBold.woff2
  public/fonts/Raleway/Raleway-VariableFont_wght.ttf
  public/fonts/Raleway/Raleway-VariableFont_wght.woff
  public/fonts/Raleway/Raleway-VariableFont_wght.woff2
  public/fonts/SourceCodePro/SourceCodePro-Light.ttf
  public/fonts/SourceCodePro/SourceCodePro-Light.woff
  public/fonts/SourceCodePro/SourceCodePro-Light.woff2
  public/fonts/SourceCodePro/SourceCodePro-Regular.ttf
  public/fonts/SourceCodePro/SourceCodePro-Regular.woff
  public/fonts/SourceCodePro/SourceCodePro-Regular.woff2
  public/fonts/SourceCodePro/SourceCodePro-VariableFont_wght.ttf
  public/fonts/SourceCodePro/SourceCodePro-VariableFont_wght.woff
  public/fonts/SourceCodePro/SourceCodePro-VariableFont_wght.woff2
  styles/fonts.css
Due: eslint --cache --fix, stylelint-check --cache --fix, prettier --write

Upload actions to node 16 versions
  .github/workflows/main.yml
  hooks/useActiveSection.ts
  package.json
  yarn.lock
Due: eslint --cache --fix, prettier --write

Uploaded cancel-workflow-action to last version
  .github/workflows/main.yml
Due: none

Updated some minor details
  .gitignore
  package.json
  yarn.lock
Due: none

Modified nextjs config
  next.config.js
Due: eslint --cache --fix, prettier --write

Fix: updated .env.example
  .env.example
Due: none

Added data to _document.tsx and added robots.txt file
  pages/_document.tsx
  pages/index.tsx
  public/robots.txt
Due: eslint --cache --fix, prettier --write

Modified robots.txt and metadata now fetched from db
  components/home/ResumeButton.tsx
  helpers/fetchData.ts
  interfaces/index.ts
  next.config.js
  pages/404.tsx
  pages/index.tsx
  pages/projects/[name]/index.tsx
  pages/projects/index.tsx
  public/robots.txt
  public/vercel.svg
Due: eslint --cache --fix, prettier --write

Fix: Fixes added to repo
  .vscode/settings.json
  components/projects/ProjectCard/index.tsx
  components/projects/ProjectDetails/ImagesCarrousel.tsx
  components/projects/ProjectDetails/index.tsx
  hooks/useImageCarrousel.ts
  pages/404.tsx
  pages/index.tsx
  pages/projects/[name]/index.tsx
  pages/projects/index.tsx
Due: eslint --cache --fix, prettier --write

Fixed error in image and fonts loading
  .vscode/settings.json
  components/contact/ContactModule/index.tsx
  pages/_document.tsx
  public/vercel.svg
  styles/fonts.css
Due: eslint --cache --fix, stylelint-check --cache --fix, prettier --write

Changed to old version from loading google fonts
  components/layout/MainLayout/ScrollToTopButton.tsx
  components/layout/MainLayout/index.tsx
  package.json
  pages/_app.tsx
  pages/_document.tsx
  public/fonts/Raleway/Raleway-ExtraLight.ttf
  public/fonts/Raleway/Raleway-ExtraLight.woff
  public/fonts/Raleway/Raleway-ExtraLight.woff2
  public/fonts/Raleway/Raleway-Light.ttf
  public/fonts/Raleway/Raleway-Light.woff
  public/fonts/Raleway/Raleway-Light.woff2
  public/fonts/Raleway/Raleway-Medium.ttf
  public/fonts/Raleway/Raleway-Medium.woff
  public/fonts/Raleway/Raleway-Medium.woff2
  public/fonts/Raleway/Raleway-Regular.ttf
  public/fonts/Raleway/Raleway-Regular.woff
  public/fonts/Raleway/Raleway-Regular.woff2
  public/fonts/Raleway/Raleway-SemiBold.ttf
  public/fonts/Raleway/Raleway-SemiBold.woff
  public/fonts/Raleway/Raleway-SemiBold.woff2
  public/fonts/Raleway/Raleway-VariableFont_wght.ttf
  public/fonts/Raleway/Raleway-VariableFont_wght.woff
  public/fonts/Raleway/Raleway-VariableFont_wght.woff2
  public/fonts/SourceCodePro/SourceCodePro-Light.ttf
  public/fonts/SourceCodePro/SourceCodePro-Light.woff
  public/fonts/SourceCodePro/SourceCodePro-Light.woff2
  public/fonts/SourceCodePro/SourceCodePro-Regular.ttf
  public/fonts/SourceCodePro/SourceCodePro-Regular.woff
  public/fonts/SourceCodePro/SourceCodePro-Regular.woff2
  public/fonts/SourceCodePro/SourceCodePro-VariableFont_wght.ttf
  public/fonts/SourceCodePro/SourceCodePro-VariableFont_wght.woff
  public/fonts/SourceCodePro/SourceCodePro-VariableFont_wght.woff2
  yarn.lock
Due: eslint --cache --fix, prettier --write

Feat: Started migration to nextjs13
  .eslintrc
  components/about/styles.module.css
  components/contact/ContactForm/styles.module.css
  components/contact/ContactModule/index.tsx
  components/home/styles.module.css
  components/layout/Header/HeaderLink.tsx
  components/layout/Logo/index.tsx
  components/layout/MainLayout/styles.module.css
  components/layout/NotFoundSign/index.tsx
  components/projects/LinksList/LinkButton.tsx
  components/projects/LinksList/styles.module.css
  components/projects/ProjectCard/LearnMoreButton.tsx
  components/projects/ProjectCard/index.tsx
  components/projects/ProjectCard/styles.module.css
  components/projects/ProjectDetails/ImagesCarrousel.tsx
  components/projects/ProjectDetails/index.tsx
  components/projects/ProjectsList/index.tsx
  components/projects/TechsList/styles.module.css
  helpers/sendEmail.ts
  package.json
  pages/_app.tsx
  pages/_document.tsx
  styles/fonts.css
  styles/globals.css
  yarn.lock
Due: eslint --cache --fix, stylelint-check --cache --fix, prettier --write

Main pipeline for github actions little modifications
  .github/workflows/main.yml
Due: none

Main pipeline for github actions little modifications
  .eslintrc
  .github/workflows/main.yml
Due: none

Feat: Added spell-checking to repo
  .github/workflows/nextjs_bundle_analysis.yml
  .gitignore
  .husky/pre-commit
  .spellcheckerrc.json
  CHANGELOG.md
  README.md
  components/contact/ContactModule/index.tsx
  components/layout/Loading/index.tsx
  dictionary-clean.txt
  hooks/usePreserveScroll.ts
  package.json
  pages/projects/[name]/index.tsx
  yarn.lock
Due: eslint --cache --fix, prettier --write

Feat: Added nextjs-bundle-analyzer and changed husky config
  .github/workflows/nextjs_bundle_analysis.yml
  .husky/pre-commit
  dictionary-clean.txt
  next.config.js
  package.json
  yarn.lock
Due: eslint --cache --fix, prettier --write

Feat: Mirated from react-icons package to @react-md/material-icons for improving load performance
  .eslintrc
  components/contact/ContactForm/index.tsx
  components/contact/ContactForm/styles.module.css
  components/contact/ContactModule/index.tsx
  components/contact/ContactModule/styles.module.css
  components/contact/CustomModal/index.tsx
  components/layout/Footer/index.tsx
  components/layout/Footer/styles.module.css
  components/layout/MainLayout/ScrollToTopButton.tsx
  components/layout/MainLayout/index.tsx
  components/layout/MainLayout/styles.module.css
  components/layout/Toast/Toast.tsx
  components/layout/Toast/styles.module.css
  components/projects/LinksList/LinkButton.tsx
  components/projects/LinksList/index.tsx
  components/projects/LinksList/styles.module.css
  components/projects/ProjectDetails/ImagesCarrousel.tsx
  components/projects/ProjectDetails/styles.module.css
  context/ToastContext.tsx
  dictionary-clean.txt
  helpers/fetchData.ts
  package.json
  pages/_app.tsx
  pages/index.tsx
  pages/projects/[name]/index.tsx
  pages/projects/index.tsx
  tsconfig.json
  yarn.lock
Due: eslint --cache --fix, stylelint-check --cache --fix, prettier --write

Feat: Optimized data-fetching removing axios to use native fetch api ad svg loading to dynamic load
  components/about/IconComponent.tsx
  components/about/SkillCard.tsx
  components/layout/Header/HeaderLink.tsx
  components/layout/Logo/index.tsx
  components/projects/LinksList/LinkButton.tsx
  components/projects/ProjectsList/index.tsx
  dictionary-clean.txt
  helpers/fetchData.ts
  package.json
  pages/_app.tsx
  public/assets/techs/android.svg
  yarn.lock
Due: eslint --cache --fix, prettier --write

Feat: Deleted html-react-parser package to replace with custom helper and useRef
  components/layout/Header/HeaderLink.tsx
  components/projects/ProjectCard/index.tsx
  components/projects/ProjectDetails/index.tsx
  dictionary-clean.txt
  helpers/index.ts
  helpers/urlify.ts
  hooks/index.ts
  hooks/useActiveSection.ts
  hooks/useImageModal.ts
  hooks/useParagraphFromJSON.ts
  package.json
  yarn.lock
Due: eslint --cache --fix, prettier --write

Feat: Replaced typeit dependecy with @vegadev/react-type-writer
  .vscode/settings.json
  README.md
  components/home/index.tsx
  dictionary-clean.txt
  hooks/index.ts
  hooks/useTypedText.ts
  package.json
  yarn.lock
Due: eslint --cache --fix, prettier --write

Minified social-media svg icons
  public/assets/social-media/discord.svg
  public/assets/social-media/github.svg
  public/assets/social-media/gmail.svg
  public/assets/social-media/linkedin.svg
Due: none
