Repository aggutierrez98/aggutierrez-portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint-check --cache --fix, prettier --write

.lintstagedrc.json:

{
  "*.js": "eslint --cache --fix",
  "*.ts": "eslint --cache --fix",
  "*.tsx": "eslint --cache --fix",
  "*.css": "stylelint-check --cache --fix",
  "*.{js,css,md}": "prettier --write",
  "*.{ts,tsx,css,md}": "prettier --write"
}

fix: Little fix in responsive ui
  components/projects/ProjectDetails/styles.module.css
Due: stylelint-check --cache --fix, prettier --write

chore(release): 1.9.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  9f9ab1e995356048b072e9a847c552488b47a2f8
Due: none

fix: Little fixes in navigation
  hooks/useImageModal.ts
  pages/projects/[name]/images/[image].tsx
  pages/projects/[name]/index.tsx
Due: eslint --cache --fix, prettier --write

fix: Solved error in responsive ui
  components/projects/ProjectDetails/styles.module.css
Due: stylelint-check --cache --fix, prettier --write

chore(release): 1.9.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  5c5cb972669d2e90df5a91f4efdc299aa110f840
Due: none

fix: Added code improvments and fixed one minor bug
  components/about/About/SkillCard.tsx
  components/about/About/index.tsx
  components/about/Home/index.tsx
  components/contact/ContactModule/index.tsx
  components/contact/CustomModal/index.tsx
  components/layout/Footer/index.tsx
  components/layout/Header/index.tsx
  components/layout/Loading/index.tsx
  components/layout/MainLayout/ScrollToTopButtton.tsx
  components/layout/MainLayout/SocialMediaLinks.tsx
  components/layout/NotFoundSign/index.tsx
  components/layout/Toast/Toast.tsx
  components/projects/ProjectCard/index.tsx
  components/projects/ProjectDetails/ImagesCarrousel.tsx
  components/projects/ProjectDetails/variants.ts
  components/projects/ProjectsList/index.tsx
  components/work/WorkModule/index.tsx
  pages/_app.tsx
Due: eslint --cache --fix, prettier --write

chore(release): 1.9.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  854bcbde4c5d5963d08b537f14c9556f4308c695
Due: none

fix: Deleted al unnecesary lazy motions and added domMax for carrousel
  components/projects/ProjectDetails/ImagesCarrousel.tsx
  components/projects/ProjectDetails/index.tsx
  components/projects/ProjectDetails/variants.ts
  components/projects/ProjectsList/index.tsx
Due: eslint --cache --fix, prettier --write

chore(release): 1.9.4 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  767fa66f48df317c8b15963e6fdda91aea06a3d1
Due: none

Testing improvment changes
  components/about/About/SkillCard.tsx
  components/about/About/variants.ts
Due: eslint --cache --fix, prettier --write

Testing improvment features chaning dynamic import for icons to component with all icons imported inside
  components/about/About/SkillCard.tsx
  components/about/About/variants.ts
  components/layout/Icon.tsx
  public/assets/techs/github-actions-seeklogo.com.svg
Due: eslint --cache --fix, prettier --write

Another little changes
  components/layout/Icon.tsx
  components/projects/TechsList/index.tsx
Due: eslint --cache --fix, prettier --write

Testing other performance improvments
  components/about/About/SkillCard.tsx
  components/about/About/styles.module.css
  components/about/About/variants.ts
Due: eslint --cache --fix, stylelint-check --cache --fix, prettier --write

Another change to improve performance
  components/about/About/SkillCard.tsx
  components/about/About/index.tsx
  components/about/About/styles.module.css
Due: eslint --cache --fix, stylelint-check --cache --fix, prettier --write

Added .gitattributes file
  .gitattributes
Due: none

Deleted .gitattributes file
  .gitattributes
Due: none

fix: Little change in icon loading
  components/about/About/SkillCard.tsx
Due: eslint --cache --fix, prettier --write

fix: Icon component deleted
  components/layout/Icon.tsx
Due: eslint --cache --fix, prettier --write

chore(release): 1.9.5 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  ced8700f7dfbb2e52c8a4a3162deeb875ed93730
Due: none

fix: Improved imageCarrousel animations
  components/projects/ProjectDetails/ImagesCarrousel.tsx
  components/projects/ProjectDetails/index.tsx
  components/projects/ProjectDetails/variants.ts
  helpers/blurImage.ts
  helpers/index.ts
  pages/index.tsx
  pages/projects/[name]/index.tsx
  pages/projects/index.tsx
Due: eslint --cache --fix, prettier --write

chore(release): 1.9.6 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  0050ef00400a60fbb5ab5e8bffad9fc9b161b153
Due: none

fix: Fixed error in loading icon
  components/about/About/IconComponent.tsx
  components/about/About/SkillCard.tsx
  components/about/About/SkillsList.tsx
  components/about/About/styles.module.css
  components/projects/ProjectCard/LearnMoreButton.tsx
  components/projects/ProjectCard/index.tsx
  components/projects/ProjectsList/index.tsx
  helpers/loadSkillsInfo.ts
  interfaces/index.ts
  pages/index.tsx
Due: eslint --cache --fix, stylelint-check --cache --fix, prettier --write

chore(release): 1.9.7 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  1cfa232724040fa53098e3076c6e9d7222ac05c8
Due: none

fix: Fixed image dragging elastic in imageCarrousel
  components/projects/ProjectDetails/ImagesCarrousel.tsx
Due: eslint --cache --fix, prettier --write

chore(release): 1.9.8 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  05fc03705fee053abf267aaf2d2148211c2f4ee8
Due: none

chore(release): 1.9.9 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  a990b6f876f80fb8d1f86e163293c8f812d6bfd9
Due: none

chore(release): 1.9.10 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  257672f1377eda1549dd48ec0c0b4da164b8e59b
Due: none
