Repository aggutierrez98/aggutierrez-portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint-check --cache --fix, prettier --write

.lintstagedrc.json:

{
  "*.js": "eslint --cache --fix",
  "*.ts": "eslint --cache --fix",
  "*.tsx": "eslint --cache --fix",
  "*.css": "stylelint-check --cache --fix",
  "*.{js,css,md}": "prettier --write",
  "*.{ts,tsx,css,md}": "prettier --write"
}

fix: Changes to improve main.yml
  .github/workflows/main.yml
Due: none

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  5ed9d25e77651b2d070506d27c826295ebe3952b
Due: none

feat: All data storaged passed to cloud (jsonbin)
  components/about/About/SkillCard.tsx
  components/about/About/SkillsList.tsx
  components/about/About/index.tsx
  components/dividers/LayeredWaves.tsx
  components/dividers/WaveSmooth.tsx
  components/dividers/index.ts
  components/index.ts
  components/layout/Footer/index.tsx
  components/layout/MainLayout/SocialMediaLinks.tsx
  components/layout/MainLayout/index.tsx
  components/layout/Toast/index.tsx
  components/projects/TechsList/index.tsx
  components/work/WorkModule/styles.module.css
  data/experience.json
  data/info.json
  data/metadata/index.json
  data/metadata/project.json
  data/projects.json
  data/skills.json
  data/socialMediaData.json
  helpers/fetchData.ts
  helpers/getSkillInfo.ts
  helpers/index.ts
  helpers/loadSkillsInfo.ts
  interfaces/index.ts
  package.json
  pages/404.tsx
  pages/_app.tsx
  pages/index.tsx
  pages/projects/[name].tsx
  yarn.lock
Due: eslint --cache --fix, stylelint-check --cache --fix, prettier --write

fix: Little changes to main pipeline
  .github/workflows/main.yml
Due: none

fix: .eslintcache added to gitignore
  .eslintcache
  .gitignore
Due: none

chore(release): 1.3.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  bdae83429f40d6b57c013ee8ff280faf50c2b435
Due: none

fix: Solved building error
  components/projects/ProjectCard/index.tsx
  components/projects/ProjectDetails/index.tsx
  components/projects/ProjectsList/index.tsx
Due: eslint --cache --fix, prettier --write

chore(release): 1.3.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  279448b9810b53be0895962a885605c1c4a9848f
Due: none

fix: Solved problem with environment variables
  helpers/fetchData.ts
Due: eslint --cache --fix, prettier --write

chore(release): 1.3.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  aabb6e84ea9f4af6201b38e57104e5674823238d
Due: none

fix: Scroll to top button now not appears in project details and 404 pages
  components/layout/MainLayout/ScrollToTopButtton.tsx
Due: eslint --cache --fix, prettier --write

feat: Added animations to 404 and project details page
  components/layout/NotFoundSign/index.tsx
  components/projects/LinksList/index.tsx
  components/projects/ProjectDetails/index.tsx
Due: eslint --cache --fix, prettier --write

fix: Fixed error in responsive navbar menu and button menu
  .eslintrc.json
  components/layout/Header/headerButtonMenu.module.css
  components/layout/Header/sideMenu.module.css
  components/layout/Header/styles.module.css
  pages/_app.tsx
Due: eslint --cache --fix, stylelint-check --cache --fix, prettier --write

chore(release): 1.4.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  9df6e39820d1c681ac085cf4c261fb3552fceb5f
Due: none

feat: README.md improved
  README.md
Due: prettier --write

chore(release): 1.5.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  12df305abfe5ef4ab6a2f20f76dc1e4aa2d4ce20
Due: none

fix: MIT license added to repo
  LICENSE
  hooks/useActiveSection.ts
Due: eslint --cache --fix, prettier --write

chore(release): 1.5.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  43682340b6c04d3d1fa9ff2f768b00610f91e3ff
Due: none

fix: Fixed problem with toast notifications not working properly
  hooks/useActiveSection.ts
  hooks/useCopyToClipboard.ts
  pages/404.tsx
  pages/_app.tsx
  pages/index.tsx
  pages/projects/[name].tsx
Due: eslint --cache --fix, prettier --write

fix: Problem with color schema dark
  styles/globals.css
  styles/theme.css
Due: stylelint-check --cache --fix, prettier --write

chore(release): 1.5.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  0496950e904b73cf7e4d05911f87edf7c2a1be3a
Due: none

feat: Visual effects and css improvments
  components/about/About/styles.module.css
  components/about/Home/styles.module.css
  components/contact/ContactForm/styles.module.css
  components/layout/Header/headerButtonMenu.module.css
  components/layout/MainLayout/ScrollToTopButtton.tsx
  components/layout/MainLayout/SocialMediaLinks.tsx
  components/layout/MainLayout/socialMediaLinks.module.css
  components/projects/ProjectCard/styles.module.css
  pages/index.tsx
  styles/globals.css
  styles/theme.css
Due: eslint --cache --fix, stylelint-check --cache --fix, prettier --write

chore(release): 1.6.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  6ed57f807af6a1f68a9f2e250be3c89ccd9f0cd2
Due: none

fix: Projects data source changed from JSONbin.io to github private repo
  components/layout/Footer/styles.module.css
  helpers/fetchData.ts
  helpers/loadSkillsInfo.ts
  pages/404.tsx
  pages/index.tsx
  pages/projects/[name].tsx
Due: eslint --cache --fix, stylelint-check --cache --fix, prettier --write

fix: Little detail from footer heart fixed
  components/layout/Footer/styles.module.css
  components/layout/MainLayout/socialMediaLinks.module.css
Due: stylelint-check --cache --fix, prettier --write

chore(release): 1.6.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  f1eee56621fd4d808942bcb16da075efa46fff46
Due: none

fix: env.example added to project
  .env.example
  components/about/About/SkillCard.tsx
  components/layout/MainLayout/SocialMediaLinks.tsx
  components/projects/TechsList/index.tsx
Due: eslint --cache --fix, prettier --write

fix: Fixed error in navbar effect when scrolling
  helpers/fetchData.ts
  hooks/useActiveSection.ts
Due: eslint --cache --fix, prettier --write

chore(release): 1.6.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  c266ed481ee8a0859e0352e3f00cf6ed6af0c521
Due: none
